In [1]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame

In [2]:
filename = '/Users/reuven/Courses/Current/data/new+york,ny.csv'

In [3]:
!head /Users/reuven/Courses/Current/data/new+york,ny.csv

date_time,"new+york,ny_maxtempC","new+york,ny_mintempC","new+york,ny_totalSnow_cm","new+york,ny_sunHour","new+york,ny_uvIndex","new+york,ny_uvIndex","new+york,ny_moon_illumination","new+york,ny_moonrise","new+york,ny_moonset","new+york,ny_sunrise","new+york,ny_sunset","new+york,ny_DewPointC","new+york,ny_FeelsLikeC","new+york,ny_HeatIndexC","new+york,ny_WindChillC","new+york,ny_WindGustKmph","new+york,ny_cloudcover","new+york,ny_humidity","new+york,ny_precipMM","new+york,ny_pressure","new+york,ny_tempC","new+york,ny_visibility","new+york,ny_winddirDegree","new+york,ny_windspeedKmph"
2018-12-11 00:00:00,4,-1,0.0,8.7,2,0,21,10:27 AM,08:28 PM,07:10 AM,04:28 PM,-5,0,3,0,12,0,56,0.0,1023,0,10,20,10
2018-12-11 03:00:00,4,-1,0.0,8.7,2,0,21,10:27 AM,08:28 PM,07:10 AM,04:28 PM,-4,1,4,1,9,0,56,0.0,1022,-0,10,17,8
2018-12-11 06:00:00,4,-1,0.0,8.7,2,0,21,10:27 AM,08:28 PM,07:10 AM,04:28 PM,-4,0,3,0,9,0,63,0.0,1022,-1,10,35,8
2018-12-11 09:00:00,4,-1,0.0,8.7,2,2,21,10:27 AM,08:28 PM,07:10 AM,04:28 PM,-3,4,5,4,6,2,56,0.0,1021,1,10,41,5
2018-12-11 12:00:00,4,-1,0.0,8.7,2,2,21,10:27 AM,08:28 PM,07:10 AM,04:28 PM,-3,4,5,4,7,6,55,0.0,1018,3,10,242,6
2018-12-11 15:00:00,4,-1,0.0,8.7,2,2,21,10:27 AM,08:28 PM,07:10 AM,04:28 PM,-2,5,6,5,10,0,54,0.0,1016,4,10,227,9
2018-12-11 18:00:00,4,-1,0.0,8.7,2,0,21,10:27 AM,08:28 PM,07:10 AM,04:28 PM,-4,1,4,1,14,0,56,0.0,1016,2,10,259,12
2018-12-11 21:00:00,4,-1,0.0,8.7,2,0,21,10:27 AM,08:28 PM,07:10 AM,04:28 PM,-5,-4,1,-4,30,9,61,0.0,1016,1,10,309,21
2018-12-12 00:00:00,4,1,0.0,8.7,2,0,29,11:03 AM,09:26 PM,07:11 AM,04:29 PM,-5,-3,1,-3,20,45,62,0.0,1015,1,10,306,15

In [4]:
df = pd.read_csv(filename,
                usecols=[0, 1, 2],
                names=['date', 'maxtemp', 'mintemp'],
                header=0)

In [5]:
df.head()

                  date  maxtemp  mintemp
0  2018-12-11 00:00:00        4       -1
1  2018-12-11 03:00:00        4       -1
2  2018-12-11 06:00:00        4       -1
3  2018-12-11 09:00:00        4       -1
4  2018-12-11 12:00:00        4       -1

In [6]:
df.shape

(728, 3)

In [7]:
df.loc[::7, 'mintemp'] = np.nan
df.loc[::6, 'maxtemp'] = np.nan

In [8]:
df.head(50)

                   date  maxtemp  mintemp
0   2018-12-11 00:00:00      NaN      NaN
1   2018-12-11 03:00:00      4.0     -1.0
2   2018-12-11 06:00:00      4.0     -1.0
3   2018-12-11 09:00:00      4.0     -1.0
4   2018-12-11 12:00:00      4.0     -1.0
5   2018-12-11 15:00:00      4.0     -1.0
6   2018-12-11 18:00:00      NaN     -1.0
7   2018-12-11 21:00:00      4.0      NaN
8   2018-12-12 00:00:00      4.0      1.0
9   2018-12-12 03:00:00      4.0      1.0
10  2018-12-12 06:00:00      4.0      1.0
11  2018-12-12 09:00:00      4.0      1.0
12  2018-12-12 12:00:00      NaN      1.0
13  2018-12-12 15:00:00      4.0      1.0
14  2018-12-12 18:00:00      4.0      NaN
15  2018-12-12 21:00:00      4.0      1.0
16  2018-12-13 00:00:00      5.0      1.0
17  2018-12-13 03:00:00      5.0      1.0
18  2018-12-13 06:00:00      NaN      1.0
19  2018-12-13 09:00:00      5.0      1.0
20  2018-12-13 12:00:00      5.0      1.0
21  2018-12-13 15:00:00      5.0      NaN
22  2018-12-13 18:00:00      5.0      1.0
23  2018-12-13 21:00:00      5.0      1.0
24  2018-12-14 00:00:00      NaN      5.0
25  2018-12-14 03:00:00      8.0      5.0
26  2018-12-14 06:00:00      8.0      5.0
27  2018-12-14 09:00:00      8.0      5.0
28  2018-12-14 12:00:00      8.0      NaN
29  2018-12-14 15:00:00      8.0      5.0
30  2018-12-14 18:00:00      NaN      5.0
31  2018-12-14 21:00:00      8.0      5.0
32  2018-12-15 00:00:00      9.0      8.0
33  2018-12-15 03:00:00      9.0      8.0
34  2018-12-15 06:00:00      9.0      8.0
35  2018-12-15 09:00:00      9.0      NaN
36  2018-12-15 12:00:00      NaN      8.0
37  2018-12-15 15:00:00      9.0      8.0
38  2018-12-15 18:00:00      9.0      8.0
39  2018-12-15 21:00:00      9.0      8.0
40  2018-12-16 00:00:00      7.0      4.0
41  2018-12-16 03:00:00      7.0      4.0
42  2018-12-16 06:00:00      NaN      NaN
43  2018-12-16 09:00:00      7.0      4.0
44  2018-12-16 12:00:00      7.0      4.0
45  2018-12-16 15:00:00      7.0      4.0
46  2018-12-16 18:00:00      7.0      4.0
47  2018-12-16 21:00:00      7.0      4.0
48  2018-12-17 00:00:00      NaN      3.0
49  2018-12-17 03:00:00      7.0      NaN

In [9]:
df.dropna()

                    date  maxtemp  mintemp
1    2018-12-11 03:00:00      4.0     -1.0
2    2018-12-11 06:00:00      4.0     -1.0
3    2018-12-11 09:00:00      4.0     -1.0
4    2018-12-11 12:00:00      4.0     -1.0
5    2018-12-11 15:00:00      4.0     -1.0
..                   ...      ...      ...
722  2019-03-11 06:00:00      6.0      2.0
723  2019-03-11 09:00:00      6.0      2.0
724  2019-03-11 12:00:00      6.0      2.0
725  2019-03-11 15:00:00      6.0      2.0
727  2019-03-11 21:00:00      6.0      2.0

[520 rows x 3 columns]

In [10]:
# interpolation: replace NaN values with other values that can plausibly
# replace NaN

# technique #1: replace NaN with the mean of each column

In [12]:
df[['maxtemp', 'mintemp']].mean()

maxtemp    4.217822
mintemp   -1.048077
dtype: float64

In [14]:
df[['maxtemp', 'mintemp']].fillna(df[['maxtemp', 'mintemp']].mean())

      maxtemp   mintemp
0    4.217822 -1.048077
1    4.000000 -1.000000
2    4.000000 -1.000000
3    4.000000 -1.000000
4    4.000000 -1.000000
..        ...       ...
723  6.000000  2.000000
724  6.000000  2.000000
725  6.000000  2.000000
726  4.217822  2.000000
727  6.000000  2.000000

[728 rows x 2 columns]

In [15]:
# technique #2: use df.interpolate to interpolate values

In [18]:
df.head(50)

                   date  maxtemp  mintemp
0   2018-12-11 00:00:00      NaN      NaN
1   2018-12-11 03:00:00      4.0     -1.0
2   2018-12-11 06:00:00      4.0     -1.0
3   2018-12-11 09:00:00      4.0     -1.0
4   2018-12-11 12:00:00      4.0     -1.0
5   2018-12-11 15:00:00      4.0     -1.0
6   2018-12-11 18:00:00      NaN     -1.0
7   2018-12-11 21:00:00      4.0      NaN
8   2018-12-12 00:00:00      4.0      1.0
9   2018-12-12 03:00:00      4.0      1.0
10  2018-12-12 06:00:00      4.0      1.0
11  2018-12-12 09:00:00      4.0      1.0
12  2018-12-12 12:00:00      NaN      1.0
13  2018-12-12 15:00:00      4.0      1.0
14  2018-12-12 18:00:00      4.0      NaN
15  2018-12-12 21:00:00      4.0      1.0
16  2018-12-13 00:00:00      5.0      1.0
17  2018-12-13 03:00:00      5.0      1.0
18  2018-12-13 06:00:00      NaN      1.0
19  2018-12-13 09:00:00      5.0      1.0
20  2018-12-13 12:00:00      5.0      1.0
21  2018-12-13 15:00:00      5.0      NaN
22  2018-12-13 18:00:00      5.0      1.0
23  2018-12-13 21:00:00      5.0      1.0
24  2018-12-14 00:00:00      NaN      5.0
25  2018-12-14 03:00:00      8.0      5.0
26  2018-12-14 06:00:00      8.0      5.0
27  2018-12-14 09:00:00      8.0      5.0
28  2018-12-14 12:00:00      8.0      NaN
29  2018-12-14 15:00:00      8.0      5.0
30  2018-12-14 18:00:00      NaN      5.0
31  2018-12-14 21:00:00      8.0      5.0
32  2018-12-15 00:00:00      9.0      8.0
33  2018-12-15 03:00:00      9.0      8.0
34  2018-12-15 06:00:00      9.0      8.0
35  2018-12-15 09:00:00      9.0      NaN
36  2018-12-15 12:00:00      NaN      8.0
37  2018-12-15 15:00:00      9.0      8.0
38  2018-12-15 18:00:00      9.0      8.0
39  2018-12-15 21:00:00      9.0      8.0
40  2018-12-16 00:00:00      7.0      4.0
41  2018-12-16 03:00:00      7.0      4.0
42  2018-12-16 06:00:00      NaN      NaN
43  2018-12-16 09:00:00      7.0      4.0
44  2018-12-16 12:00:00      7.0      4.0
45  2018-12-16 15:00:00      7.0      4.0
46  2018-12-16 18:00:00      7.0      4.0
47  2018-12-16 21:00:00      7.0      4.0
48  2018-12-17 00:00:00      NaN      3.0
49  2018-12-17 03:00:00      7.0      NaN

In [19]:
df.interpolate().head(50)

                   date  maxtemp  mintemp
0   2018-12-11 00:00:00      NaN      NaN
1   2018-12-11 03:00:00      4.0     -1.0
2   2018-12-11 06:00:00      4.0     -1.0
3   2018-12-11 09:00:00      4.0     -1.0
4   2018-12-11 12:00:00      4.0     -1.0
5   2018-12-11 15:00:00      4.0     -1.0
6   2018-12-11 18:00:00      4.0     -1.0
7   2018-12-11 21:00:00      4.0      0.0
8   2018-12-12 00:00:00      4.0      1.0
9   2018-12-12 03:00:00      4.0      1.0
10  2018-12-12 06:00:00      4.0      1.0
11  2018-12-12 09:00:00      4.0      1.0
12  2018-12-12 12:00:00      4.0      1.0
13  2018-12-12 15:00:00      4.0      1.0
14  2018-12-12 18:00:00      4.0      1.0
15  2018-12-12 21:00:00      4.0      1.0
16  2018-12-13 00:00:00      5.0      1.0
17  2018-12-13 03:00:00      5.0      1.0
18  2018-12-13 06:00:00      5.0      1.0
19  2018-12-13 09:00:00      5.0      1.0
20  2018-12-13 12:00:00      5.0      1.0
21  2018-12-13 15:00:00      5.0      1.0
22  2018-12-13 18:00:00      5.0      1.0
23  2018-12-13 21:00:00      5.0      1.0
24  2018-12-14 00:00:00      6.5      5.0
25  2018-12-14 03:00:00      8.0      5.0
26  2018-12-14 06:00:00      8.0      5.0
27  2018-12-14 09:00:00      8.0      5.0
28  2018-12-14 12:00:00      8.0      5.0
29  2018-12-14 15:00:00      8.0      5.0
30  2018-12-14 18:00:00      8.0      5.0
31  2018-12-14 21:00:00      8.0      5.0
32  2018-12-15 00:00:00      9.0      8.0
33  2018-12-15 03:00:00      9.0      8.0
34  2018-12-15 06:00:00      9.0      8.0
35  2018-12-15 09:00:00      9.0      8.0
36  2018-12-15 12:00:00      9.0      8.0
37  2018-12-15 15:00:00      9.0      8.0
38  2018-12-15 18:00:00      9.0      8.0
39  2018-12-15 21:00:00      9.0      8.0
40  2018-12-16 00:00:00      7.0      4.0
41  2018-12-16 03:00:00      7.0      4.0
42  2018-12-16 06:00:00      7.0      4.0
43  2018-12-16 09:00:00      7.0      4.0
44  2018-12-16 12:00:00      7.0      4.0
45  2018-12-16 15:00:00      7.0      4.0
46  2018-12-16 18:00:00      7.0      4.0
47  2018-12-16 21:00:00      7.0      4.0
48  2018-12-17 00:00:00      7.0      3.0
49  2018-12-17 03:00:00      7.0      3.0

In [24]:
df.loc[::5, 'mintemp'] = np.nan
df.loc[::3, 'maxtemp'] = np.nan

In [25]:
df.head(50)

                   date  maxtemp  mintemp
0   2018-12-11 00:00:00      NaN      NaN
1   2018-12-11 03:00:00      4.0     -1.0
2   2018-12-11 06:00:00      4.0     -1.0
3   2018-12-11 09:00:00      NaN     -1.0
4   2018-12-11 12:00:00      NaN     -1.0
5   2018-12-11 15:00:00      4.0      NaN
6   2018-12-11 18:00:00      NaN     -1.0
7   2018-12-11 21:00:00      4.0      NaN
8   2018-12-12 00:00:00      NaN      1.0
9   2018-12-12 03:00:00      NaN      1.0
10  2018-12-12 06:00:00      4.0      NaN
11  2018-12-12 09:00:00      4.0      1.0
12  2018-12-12 12:00:00      NaN      1.0
13  2018-12-12 15:00:00      4.0      1.0
14  2018-12-12 18:00:00      4.0      NaN
15  2018-12-12 21:00:00      NaN      NaN
16  2018-12-13 00:00:00      NaN      1.0
17  2018-12-13 03:00:00      5.0      1.0
18  2018-12-13 06:00:00      NaN      1.0
19  2018-12-13 09:00:00      5.0      1.0
20  2018-12-13 12:00:00      NaN      NaN
21  2018-12-13 15:00:00      NaN      NaN
22  2018-12-13 18:00:00      5.0      1.0
23  2018-12-13 21:00:00      5.0      1.0
24  2018-12-14 00:00:00      NaN      5.0
25  2018-12-14 03:00:00      8.0      NaN
26  2018-12-14 06:00:00      8.0      5.0
27  2018-12-14 09:00:00      NaN      5.0
28  2018-12-14 12:00:00      NaN      NaN
29  2018-12-14 15:00:00      8.0      5.0
30  2018-12-14 18:00:00      NaN      NaN
31  2018-12-14 21:00:00      8.0      5.0
32  2018-12-15 00:00:00      NaN      8.0
33  2018-12-15 03:00:00      NaN      8.0
34  2018-12-15 06:00:00      9.0      8.0
35  2018-12-15 09:00:00      9.0      NaN
36  2018-12-15 12:00:00      NaN      8.0
37  2018-12-15 15:00:00      9.0      8.0
38  2018-12-15 18:00:00      9.0      8.0
39  2018-12-15 21:00:00      NaN      8.0
40  2018-12-16 00:00:00      NaN      NaN
41  2018-12-16 03:00:00      7.0      4.0
42  2018-12-16 06:00:00      NaN      NaN
43  2018-12-16 09:00:00      7.0      4.0
44  2018-12-16 12:00:00      NaN      4.0
45  2018-12-16 15:00:00      NaN      NaN
46  2018-12-16 18:00:00      7.0      4.0
47  2018-12-16 21:00:00      7.0      4.0
48  2018-12-17 00:00:00      NaN      3.0
49  2018-12-17 03:00:00      7.0      NaN

In [26]:
df.interpolate().head(50)

                   date   maxtemp  mintemp
0   2018-12-11 00:00:00       NaN      NaN
1   2018-12-11 03:00:00  4.000000     -1.0
2   2018-12-11 06:00:00  4.000000     -1.0
3   2018-12-11 09:00:00  4.000000     -1.0
4   2018-12-11 12:00:00  4.000000     -1.0
5   2018-12-11 15:00:00  4.000000     -1.0
6   2018-12-11 18:00:00  4.000000     -1.0
7   2018-12-11 21:00:00  4.000000      0.0
8   2018-12-12 00:00:00  4.000000      1.0
9   2018-12-12 03:00:00  4.000000      1.0
10  2018-12-12 06:00:00  4.000000      1.0
11  2018-12-12 09:00:00  4.000000      1.0
12  2018-12-12 12:00:00  4.000000      1.0
13  2018-12-12 15:00:00  4.000000      1.0
14  2018-12-12 18:00:00  4.000000      1.0
15  2018-12-12 21:00:00  4.333333      1.0
16  2018-12-13 00:00:00  4.666667      1.0
17  2018-12-13 03:00:00  5.000000      1.0
18  2018-12-13 06:00:00  5.000000      1.0
19  2018-12-13 09:00:00  5.000000      1.0
20  2018-12-13 12:00:00  5.000000      1.0
21  2018-12-13 15:00:00  5.000000      1.0
22  2018-12-13 18:00:00  5.000000      1.0
23  2018-12-13 21:00:00  5.000000      1.0
24  2018-12-14 00:00:00  6.500000      5.0
25  2018-12-14 03:00:00  8.000000      5.0
26  2018-12-14 06:00:00  8.000000      5.0
27  2018-12-14 09:00:00  8.000000      5.0
28  2018-12-14 12:00:00  8.000000      5.0
29  2018-12-14 15:00:00  8.000000      5.0
30  2018-12-14 18:00:00  8.000000      5.0
31  2018-12-14 21:00:00  8.000000      5.0
32  2018-12-15 00:00:00  8.333333      8.0
33  2018-12-15 03:00:00  8.666667      8.0
34  2018-12-15 06:00:00  9.000000      8.0
35  2018-12-15 09:00:00  9.000000      8.0
36  2018-12-15 12:00:00  9.000000      8.0
37  2018-12-15 15:00:00  9.000000      8.0
38  2018-12-15 18:00:00  9.000000      8.0
39  2018-12-15 21:00:00  8.333333      8.0
40  2018-12-16 00:00:00  7.666667      6.0
41  2018-12-16 03:00:00  7.000000      4.0
42  2018-12-16 06:00:00  7.000000      4.0
43  2018-12-16 09:00:00  7.000000      4.0
44  2018-12-16 12:00:00  7.000000      4.0
45  2018-12-16 15:00:00  7.000000      4.0
46  2018-12-16 18:00:00  7.000000      4.0
47  2018-12-16 21:00:00  7.000000      4.0
48  2018-12-17 00:00:00  7.000000      3.0
49  2018-12-17 03:00:00  7.000000      3.0